/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.profiler-results {
  display: none;
}


header {
    display: flex;
    background-color: black;
  }
  
  header div:first-child {
    margin-right: auto;
  }
  
  header div:last-child {
    margin-right: 30px;
  }
  
  header div {
    margin-left: 30px;
    line-height: 30px;
  }
  
  a:hover {
    text-decoration: none;
    font-size: larger;
  }
  
  #logo {
    width: 60px;
    height: 30px;
  }
  


[class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}
.underlay-photo {
  animation: hue-rotate 6s infinite;
  background-image: url(/assets/training1.jpg);
  background-size: cover;
  -webkit-filter: grayscale(30%);
  z-index: -1;
}
.underlay-black {
  background: rgba(0,0,0,0.7);
  z-index: -1;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

.profile-img {
  border-radius: 50%;
}