/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.profiler-results {
  display: none;
}


header {
    display: flex;
    background-color: rgba(#EEEEEE,0.5);    
    height: 50px;
    align-items: center;
  }
  
  header div:first-child {
    margin-right: auto;
  }
  
  header div:last-child {
    margin-right: 30px;
  }
  
  header div {
    margin-left: 30px;
    line-height: 30px;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  #logo {
    width: 60px;
    height: 30px;
  }
  


[class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}
.underlay-photo {
  animation: hue-rotate 6s infinite;
  background-image: url(/assets/show.jpg);
  background-size: cover;
  -webkit-filter: grayscale(30%);
  z-index: -1;
}
.underlay-black {
  background: rgba(0,0,0,0.7);
  z-index: -1;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

.profile-img {
  border-radius: 50%;
}

.main-content {
  height: 2000px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.content {
  text-align: center;
  padding: 0 30px;
  margin: 0 auto;
}

.content h2 {
  font-weight: normal;
  margin-top: 50px;
}

.content p {
  font-size: 35px;
  margin-top: 30px;
  text-decoration:underline;
  text-decoration-color:#3399FF;
  text-underline-offset: 0.2em;
}

.box {
  display:flex;
  flex-direction: column-reverse;
  margin-bottom: 40px;
}

.text {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

h3 {
  font-size: 35px;
  margin-bottom: 20px;
}

h4 {
  margin-top: 35px;
}

.pict {
  width: 100%;
  text-align: center;
  min-height: 0%;
  margin-bottom: 15px;
}

.pict img {
  max-width: 300px;
  height:auto;
  margin-top: 30px;
}

.last_message {
  text-align: center;
  padding: 50px 30px;
  margin: 0 auto;
  font-size: 35px;
}

.last_pict img {
  max-width: 800px;
  height:auto;
}

footer {
  text-align: center;
}