// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.cover-index {
    height: 100%;
    width: 100%;
    background-image: url(/assets/show.jpg); /*投稿一覧 */
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
  }
  
  .one-post {
    margin: 5px 30px;
  }
  
  .caption {
    color: black;
    font-size: 20px;
    text-decoration: none;
  }
  
  .cover-show {
    height: 100%;
    width: 100%;
    background-image: url(/assets/training6.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
  }
  
  #text {
    font-size: 18px;
  }

  .cover-edit {
    height: 100%;
    width: 100%;
    background-image: url(/assets/training7.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
  }

  // ページネーションレイアウト
  .page a,
  .next a,
  .last a,
  .first a,
  .prev a {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
  }

  .page a:hover,
  .next a:hover,
  .last a:hover,
  .first a:hover,
  .prev a:hover {
    color: black;
  }

  .current {
    font-weight: bold;
  }

  //コメントのレイアウト
  .comments-index {
    background-color: #fff;
    border: 1px #000 solid;
  }
  
  .comment-delete {
    margin-left: auto;
  }

  .title {
    font-family: cursive;
  }
  
  sub-title {
    font-family: serif;
  }
  
.cover {
    height: 100%;
    width: 100%;
    /* その要素を囲む親要素にdisplay: table;を指定 */
    display: table;
    background-image: url(/assets/top1.jpg);
    /* 背景の透過 */
    background-color:rgba(255,255,255,0.4);
    /* 背景色と背景画像のブレンド方法を指定する　下レイヤー色と上レイヤー色のそれぞれのRGB値を比較して、よりRGB値の高い（明るい）色を採用する */
    background-blend-mode:lighten;
    /* 表示領域の幅100％ 高さ100％で表示（縦横比は無視） */
    background-size: 100% 100%;
  }
  
.text-center {
    /* 横に並べたい要素にdisplay: table-cell;を指定 */
    display: table-cell;
    vertical-align: middle;
  }

  h1 {
    font-family: Hiragino Sans;
    color:gray
  }
  
  .cover-new {
    height: 100%;
    width: 100%;
    background-image: url(/assets/newpage1.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
  }
  
  .form-label {
    font-size: 20px;
  }
  
  .form-group {
    width: 600px;
  }
  
  .cover-show {
    height: 100%;
    width: 100%;
    background-image: url(/assets/show.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
  }
  
  #text {
    font-size: 18px;
  }